/* based on trystyle.css of w3schools.com */

body {
    font-family: verdana;
    font-size: 14px;
}

/*----------------------------------------------------*/
                 /*navigation1 css*/
#nav1{
  height: 40px; /*세로길이*/
  width: 100%; /*가로길이*/
  background-color: #daad86; /*#98DAFC #daad86 #312c32*/
  float:left;
  text-decoration: none;
}

.nav1a{
  height: 40px; /*세로길이*/
  width: 100px; /*가로길이*/
  float:left;   /*왼쪽정렬*/   
  color: #daad86;
  background-color: #312c32; /*#98DAFC #daad86 #312c32*/
  text-align: center;
  line-height: 35px; /*텍스트높이*/
}

.nav1a:link {  /*아직 클릭하기 전 링크*/
  color: #daad86; 
  background-color: #daad86; 
}
 
.nav1a:hover {  /*마우스를 올렸을때 링크*/
    color: white;
    background-color: #5D5D5D;    
}
/*----------------------------------------------------*/
                /*navigation2 css*/
#nav2{
  height: 1000px; /*세로길이*/
  width: 15%; /*가로길이*/
  float:left;
}

.nav2p{
  height: 20px; /*세로길이*/
  width: 100%; /*가로길이*/
  color: black;
  text-align: center;
}

.nav2a{
  height: 20px; /*세로길이*/
  width: 100%; /*가로길이*/
  color: black;
}

.nav2p:link  {  /*아직 클릭하기 전 링크*/
  color: #daad86; 
}
 
.nav2p:hover {  /*마우스를 올렸을때 링크*/
    background-color: #daad86;
}

/*----------------------------------------------------*/
.container {
    background-color:#f1f1f1;
    width:100%;
    overflow:auto;
    position:absolute;
    top:150px;
    bottom:0;
    height:auto;
    min-height:250px;
    min-width:550px;
    display: none;
	  border:2px solid #D9E5FF;
}

#codeContainer {
  width:50%;
  float:left;
}

.resultContainer {
  width:40%;
  float:left;
}

.containerTitle {
  font-size: 24px;
  margin-top: 15px;
  margin-left: 15px;
  color: #444444;
}

.code {
  background-color:#ffffff;
  padding:15px;
  margin:15px;
  margin-top: 5px;
  font-family: Consolas, 'Courier New', Courier, monospace;
  font-size: 16px;
}

#propertyTitle {
  margin-top: 0;
  margin-left: 0;
}

.pfooter {
  margin: 15px;
}
.codeContainer .radio {
  line-height:2;
}

#resultView {
  font-family: consolars, Courier new;
  font-size: 14px;  
  margin-left: 10px;
  margin-top: 5px;
  margin-right: 15px;
  background-color: #ffffff;
  height: 220px;
  width: 450px;
  border:2px solid #D9E5FF;
}

.currentCode {
  font-family: consolas, Courier new;
  font-size: 14px;
  
  margin-left: 10px;
  margin-right: 15px;
  background-color: #ffffff;
  padding: 10px;
  color: #222222;
  text-align: left;  
}



#resultDIV {
    margin-left: 10px;
    margin-top: 3px;
    margin-right: 15px;
    background-color: #ffffff;
    height: 200px;
}


#demoDIV {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation: demomove infinite;
}

@keyframes demomove {
    from {left: 0px;}
    to {left: 150px;}
}

@keyframes demomove2 {
    from {left: 0px;}
    to {left: 150px;}
}

#enlargeCSSProp {
    font-weight: bold;
    color: #000000;
}

#enlargeJSValue {
    font-weight: bold;
    color: #000000;
}

#htmlbox, #cssbox ,#jsbox ,#jqbox, #sqlbox, #phpbox, #aspbox{
           max-width: 974px;
           min-width: 0;
           left: 0;
           right: 0;
           margin: auto;
           top: 580px;
           min-height:150px;
           min-width:550px;
           position:absolute;
           height: auto;
           bottom: auto;
           border:2px solid #D9E5FF;
          }
          
          .cssbut{
             margin-top: 10px;
             margin-left: 10px;
          }
          
         
     
          